[submodule "vim/bundle-available/nerdtree"]
	path = vim/bundle-available/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle-available/Command-T"]
	path = vim/bundle-available/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle-available/bufexplorer.zip"]
	path = vim/bundle-available/bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
